.home-container {
  text-align: center;
  margin-top: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.admin-button,
.user-button,
.square-button,
.back-button,
.login-button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

.admin-button:hover,
.user-button:hover,
.square-button:hover,
.back-button:hover,
.login-button:hover {
  background-color: #0056b3;
}

.page-container {
  text-align: center;
  margin-top: 50px;
}
